{
  "linters": {
    "*.{js,json,md,yml}": [
      "yarn prettier --write",
      "git add"
    ],
    "*.ts": [
      "yarn tslint --config tslint.json --project . --fix",
      "yarn prettier --write",
      "git add"
    ]
  }
}
